In [1]:
import numpy as np
import pandas as pd

# Importing data

### Loading data from a csv file

In [2]:
data = pd.read_csv('data/IRIS.csv')

In [3]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
data.shape

(150, 5)

### Loading data from sklearn.datasets

In [9]:
from sklearn.datasets import load_iris

In [19]:
meta = load_iris()

In [22]:
df = pd.DataFrame(meta.data,columns = meta.feature_names)

In [23]:
df['Target'] = meta.target

In [25]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

# Exporting Data

In [26]:
df.to_csv('data/irisnew.csv',index=False)

In [27]:
pd.read_csv('data/irisnew.csv')

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2